div {
	display: block;
}

#navigation-bar{
  z-index: 2;

	list-style-type: none;
  	margin: 0;
  	padding: 0;

	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;

	background-color: #ad8411;
}

.button {
	float: left;

}

.button a {
    display: block;

 	  color: white;
  	text-decoration: none;
  	font-size: 2em;
  	font-family: sans-serif;

  	text-align: center;
  	padding: 14px 16px;
}

.button a:hover:not(.active) {
  background-color: #edb518;
}

#active-page {
  font-size: 1.1em;
	text-decoration: underline;
}

#index-content {
  display: table;

	padding: 100px;
}

#author-info {

	font-family: monospace;
	font-size: 2em;
}

.content {
    z-index: 1;

  	margin: 100px;
  	border: solid;
    border-width: 1px;
}

.product {
	display: block;

  	color: black;
  	font-family: cursive;
  	font-weight: bold;

  	border: solid;
  	border-color: black;
  	background-color: #f0f0f0;

  	width: 250px;
}

.product-name {
  	list-style-type: none;

  	padding-bottom: 20px;
  	
  	font-size: 1.5em;
  	text-align: center;
}

.product-properties {
  
}

#mass-delete {
    width: 230px;
    position: relative;
    left: 82.7%;
    margin-top: 100px;
}

.card {
}

.card-columns {
}